@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


:root {
    --verde: #70D70C;
    --verdetrans: rgba(114, 215, 12, 0.93);
    --gris1: #BABABA;
    --gris2: #3D3D3D;
    --asap: 'Asap Condensed', sans-serif;
    --bigshoulders: 'Big Shoulders Text', cursive;
    --poppins: 'Poppins', sans-serif;
}

.bg-verde {
    background: var(--verde);
}

.bg-gris {
    background: var(--gris1);
}

.poppins {
    font-family: var(--poppins);
}

.asap {
    font-family: 'Asap Condensed', sans-serif !important;
}

.back-button:hover {
    color: white !important;
    text-shadow: 0 0 3px rgba(0, 0, 0, 9%);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.bg-verde-imp {
    background-color: var(--verde) !important;
}

.displaycontents {
    display: block;
}

.nav-item .text-white:hover {
    color: var(--verde) !important;
}

.d-flex .bg-white:hover {
    background-color: var(--verde) !important;
}

.dropdown-item:hover {
    color: white;
    background-color: var(--verde);
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(243, 243, 243, 0.533);
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.8);
}

.dropdown-item:hover::after {
    content: "Próximamente!";
    background-color: black;
    color: #70D70C;
    padding: .1em .5em;
    margin: 0 0.5em;
    position: absolute;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.results {
    min-height: 82vh;
}

/* MEDIAQUERIES */

@media only screen and (max-width:1184px) {

    .displaycontents {
        display: contents;
        width: 75% !important;
    }

    .centerblock {
        padding: 0 5%;
    }
}

.r-21 {
    right: 21em;
}

.card-body {
    padding: 0.6rem 0.4rem 1rem;
}

.title-card {
    font-size: 0.8rem;
}

.h6em {
    height: 5em;
}

/*# Librerias */

.wrongToastify {
    z-index: 30;
    position: fixed;
    width: 100%;
    text-align: center;
    padding-top: 0.2em 0;
    animation: errorT 1s linear 0s 1;
    -webkit-animation: errorT 5s linear 0s 1;
}

@keyframes errorT {
    0% {
        opacity: 0;
        background-color: transparent;
        color: transparent;
    }

    10% {
        opacity: 100;
        background-color: red;
        color: white;
    }

    30% {
        opacity: 100;
        background-color: red;
        color: white;
    }

    40% {
        opacity: 100;
        background-color: var(--verde);
        color: black;
        top: 15px;
    }

    65% {
        opacity: 100;
        background-color: var(--verde);
        color: black;
        top: 15px;
    }

    80% {
        top: 0;
        opacity: 0%;
        background-color: transparent;
        color: transparent;
    }

    100% {
        opacity: 0;
        color: transparent;
        display: none;
    }
}

.swal2-container {
    z-index: 4 !important;
}