@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');

:root {
    --asap: 'Asap Condensed', sans-serif;
    --verde: #70D70C;
}


.lunita {
    width: 10em;
    background-image: url('https://raw.githubusercontent.com/niconsm16/MyFitShop-Machicado/main/src/images/tucuman-moony.png');
    position: absolute;
    top: 1em;
    right: 1em;
    height: 10em;
    background-position: center;
    background-size: cover;
    animation: luni 2s;
    -webkit-animation: luni 2s;
    z-index: -1;
}

@keyframes luni {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

.disappear {
    display: none;
    opacity: 0;
    transition: all 10s;
    -webkit-transition: all 10s;
    -moz-transition: all 10s;
    -ms-transition: all 10s;
    -o-transition: all 10s;
}

.appear {
    display: flex;
    opacity: 1;
    transition: all 10s;
    -webkit-transition: all 10s;
    -moz-transition: all 10s;
    -ms-transition: all 10s;
    -o-transition: all 10s;
}

#alert {
    top: 50%;
    left: 50%;
    z-index: 40;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#alert {
    background-color: rgba(0, 0, 0, 85%);
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#alert::before {
    content: "";
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    width: 33rem;
    height: 10rem;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background-color: whitesmoke;
    position: fixed;
    box-shadow: 0 0 12px 8px rgb(0 0 0 / 50%);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.alertOption {
    width: 20%;
    padding: 0.15em 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.selUpdProduct:hover {
    background-color: var(--verde);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.main-min-h {
    min-height: 91vh;
}